*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.sect1{
    background-color: #D9D9D9;
    padding-bottom: 87.5px;
    padding-top: 30px;
}
.table1{
    width: 90%;
    margin: auto;
}
td{
    font-weight: 400;
    font-family: FiraSans Regular;
}
@font-face {
    font-family: FiraSansBold;
    src: url(FiraSans-Bold.ttf);
}
@font-face {
    font-family: FiraSans Regular;
    src: url(FiraSans-Regular.ttf);
}
@font-face {
    font-family: FiraSans SemiBold;
    src: url(FiraSans-SemiBold.ttf);
}
@font-face {
    font-family: Romana;
    src: url(ROMANAB.TTF);
}
#h1{
    color: white;
    text-align: center;
    margin-top: 91px;
    margin-bottom: 30px;
    font-weight: 700;
    font-family: FiraSansBold;
    font-size: 64px;
}
#p1{
    color: white;
    width: 80%;
    margin: auto;
    font-weight: 600;
    font-family: firaSans SemiBold;
    font-size: 32px;
    text-align: left;
}
.sect2{
    background-color: #EEEEF1;
    width: 80%;
    margin: auto;
}
#h2{
    background-color: #EEEEF1;
    color: #313546;
    margin-top: 60px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-weight: 700;
    font-family: FiraSansBold;
    font-size: 64px;
    margin-bottom: 30px;
}
.team{
    width: 22%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

h1{
    color: #313546;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 30px;
    padding-top: 1px;
    font-weight: 700;
    font-family: FiraSansBold;
    font-size: 64px;
}
#p2{
    color: #313546;
    width: 100%;
    padding-bottom: 40px;
    text-align: left;
    font-family: firaSans SemiBold;
    font-weight: 600;
    font-size: 32px;
}
footer{
    background-color: #BEBBBB;
    height: 430px;
}
h4{
    margin-left: 5%;
    padding-top: 128px;
}
ul{
    margin-left: 5%;
    list-style: none;
    font-family: FiraSans Regular;
    font-size: 16px;
    font-weight: 400;
}
.row{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}
.column{
    /* border: 1px solid black; */
    border-bottom: 62px solid  #D9D9D9;
    width: 411px; 
    height: 400px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p{
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: 600;
    font-family: FiraSans SemiBold;
    color: #3E4357;
}
.last{
    background-color: #D9D9D9;
    width: 90%;
    margin: auto;;
    
}
h3{
    margin-top: 60px;
    padding-top: 8px;
    padding: 5px 0px 50px 0px;
    font-weight: 600;
    font-family: FiraSans SemiBold;
    font-size: 32px;
    color: #3E4357;
    text-align: center;
}
.last button{
    border-radius: 8px;
    padding: 12px 24px;
    background-color: #C9CCD4;
    color: white;
    border-style: none;
    display: flex;
    margin: auto;
    justify-content: center; 
    font-family: FiraSans SemiBold;
    font-weight: 600;
    font-size: 16px;
}
.logo, h4{
    font-family: Roman;
    font-size: 32px;
    font-weight: 400;
    
}
.img img{
    width: 100px;
    height: 100px;
}
.img{
    width: 100px;
    height: 100px;
    padding-top: 128px;
}
.img:hover{
    cursor: pointer;
}
.row2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
.column2{
    padding-left: 60px;
}
