@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/romana-bt');
@import url(//db.onlinewebfonts.com/c/a928f24b58b82e8ea551d1d7599d2324?family=Romana+BT);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
    font-family: Romana;
    src: url(fonts/ROMANAB.TTF);
}

@font-face {
    font-family: 'FiraSans Regular';
    src: url(fonts/FiraSans-Regular.TTF);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    min-height: 100%;
}

body {
    background-color: #313B6A;
    text-align: left;
    overflow-x: hidden;
    z-index: -1;
}

header {
    margin: 2em 3em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-family: 'Romana BT';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.02em;
    color: #EEEEF1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 150%;
    color: #EDF0E9;
    align-items: center;
}

nav li {
    display: inline-block;
    font-size: 1.06em;
    padding: 1.8em 1em;
    padding: 0.5px 45px;
    align-items: center;
}

#logo-halfnav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li:hover,
button:hover {
    cursor: pointer;
}

#signupborder {
    border-radius: 8px;
    padding: 10px 13px;
    border: 2px solid #E9ECFC;
    font-weight: 400;
}


a {
    color: inherit;
    text-decoration: none;

}

.black-color-svg {
    color: black;
    background-color: "black";
    fill: black;
    filter: invert(100%) sepia(52%) saturate(0%) hue-rotate(134deg) brightness(93%) contrast(104%);

}

/*====================First Container ========================*/

.first-container {
    margin-top: 10em;
    margin-left: 3em;
    padding-left: 2em;
    display: flex;
    gap: 3em;
    justify-content: space-between;
    height: 700px;
}

h2 {
    line-height: 1.3;
}


#first-span {
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 1em;
    color: #FAFEF4;
    margin-bottom: 2em;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: -0.02em;
}

.first-container p {
    letter-spacing: 2;
    margin-bottom: 5px;
    line-height: 1.5;
    font-size: 20px;
    color: #EDF0E9;
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.02em;
}


#button-span {
    background-color: #E9ECFC;
    color: #313B6A;
    padding: 17px 40px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin-bottom: 1.5em;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.worksheet-image {

    width: 600px;
    height: 850px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    top: 0em;
    right: 0px;
    z-index: 700;
}



/*=========================== Second Container ==============================*/
.second-container {
    background-color: white;
    padding: 6em 5em;
}

.second-container p {
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    color: #454242;
}

.second-container h2 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: #2b2828;
}

.sixGrayParagraph {
    display: flex;
    flex-direction: column;
}

.treeGrayParagraph {
    display: flex;
    margin: 0 auto;
}

.treeGrayParagraph p {
    background: rgba(255, 214, 214, 0.8);
    box-shadow: 0px 0px 19px rgba(212, 212, 212, 0.25);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 17px;
    padding-right: 9px;
    margin: 9px;
    border-radius: 8px;
    min-width: 375px;
    min-height: 150px;
    font-weight: 400;
}

#bluish-background,
#bluish-background1,
#bluish-background2 {
    background: rgba(220, 226, 255, 0.8);
    box-shadow: 0px 0px 19px rgba(212, 212, 212, 0.25);
}

#blury1 {
    background: rgba(169, 60, 158, 0.3);
    mix-blend-mode: multiply;
    border: 1px solid rgba(22, 20, 22, 0.5);
}


/*==================================================*/

.pictures-comments {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    width: 66em;

}

.photo-text,
.text-photo {
    display: flex;
    border: #a0a0a0 1.5px solid;
    border-radius: 8px;
    padding: 50px 30px;
    gap: 30px;
    width: 52em;
    height: 20em;
    align-items: center;
}

.photo-text img,
.text-photo img {
    display: block;
    border: 3px solid #B8B3B3;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    object-fit: cover;
}

.photo-text p,
.text-photo p {
    line-height: 1.5;
    margin-top: 5em;
}

.photo-text span,
.text-photo span {
    color: gray;
    font-size: 15px;
}

.pictures-comments h4 {
    text-align: right;
    margin-top: 2em;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #454242;
}


/*=========== grid=================*/

.test {
    display: grid;
    grid-template-areas:
        'a a a a b'
        'c d d d d'
    ;
    row-gap: 35px;
    margin: auto;
    margin-top: 2em;
}

.white1,
.white2 {
    background-color: white;
    width: 215px;
}

.photo-text {
    grid-area: a;
    background-image: url(images/quote-start.svg);
    background-repeat: no-repeat;
    background-position: 298px 30px;
}

.white1 {
    grid-area: b;
}

.white2 {
    grid-area: c;
}

.text-photo {
    grid-area: d;
    background-image: url(images/quote-end.svg);
    background-repeat: no-repeat;
    background-position: 373px 81px;
}


/* ========================== fifth Container =========================*/

.fifth-container {
    padding: 5em 5em;
    padding-right: 2em;
    justify-content: center;
    align-items: center;
    background: #ffe4e4;
    z-index: -1;
}

.fifth-container>p {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #454242;
}


#span-h2 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: #454242;
}

#main-p-fith-container {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #312D2D
}


/*--------------------Funny boy---------------------------*/

.text-funnyBoy-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.just-text-funnyBoy {
    display: flex;
    flex-direction: column;
}

#blury {
    color: #FF5678;
}

#main-p-fith-container {
    min-width: 19em;
    max-width: 28em;
}

.funnyBoy-image {
    position: relative;
    top: -8em;
    z-index: 700;
}

.funnyBoy-image img {
    height: 45em;
    width: 52em;
    float: right;
    margin-bottom: -12em;
}



/*----------------------Another tree paragraphs------------------------*/

.anotherTreepar {
    display: flex;
    gap: 6.5em;
    margin-bottom: 3em;
    z-index: -100;
}

.anotherTreepar span {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 50px;
}

.anotherTreepar p {
    line-height: 23px;
}

#getstarted {
    padding: 4px 26px;
    padding-bottom: 11px;
    letter-spacing: 1.1px;
    color: white;
    margin-top: 2em;
    background-color: #6E83EC;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin-bottom: 1.5em;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}



/*==============================Footer ================*/

footer {
    padding: 8em 5em;
    padding-right: 2em;
    background: #313B6A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EEEEF1;
}

footer h1 {
    color: #EEEEF1;
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}

footer p {
    line-height: 50px;
    font-weight: 400;
    font-size: 14px;

    line-height: 150%;
}


#arrow-button {
    border: none;
    background-color: inherit;
    height: 2px;
    border-radius: 10px;

}