@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/romana-bt');
@import url(//db.onlinewebfonts.com/c/a928f24b58b82e8ea551d1d7599d2324?family=Romana+BT);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@font-face {font-family: Romana BT;
src:url(ROMANAB.TTF)}

*{margin:0;
padding:0;}

#main-container{position:relative;
width:1440px;
height:1024px;
background-color:#F1F3FD;
border-radius:8px;}

#comparediff{position:absolute;
width:195px;
height:39px;
left:120px;
top:40px;
font-family:'Romana BT' ;
font-style:normal;
font-weight:400;
font-size:32px;
line-height:39px;
letter-spacing:-0.02em;
color:#222020}

h2{position:absolute;
width:119px;
height:58px;
left:240px;
top:256px;
font-family:'Fira Sans';
font-style:normal;
font-weight:600;
font-size:48px;
line-height:120%;
display:flex;
align-items:center;
text-align:center;
letter-spacing:-0.05em;
color:#676767;}
form {display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:8px 16px;
gap:11px;
position:absolute;
width:471px;
height:311px;
left:232px;
top:356px;
background-color:#FAFEF4;}

#second-container{position:absolute;
width:510px;
height:1024px;
left:810px;
top:0px;
background-color:#6E83EC;
border-radius:4px;}

h1{margin-top:400px;
margin-left:40px;
width:420px;
height:77px;
left:854px;
top:374px;
font-family:'Fira Sans';
font-style:normal;
font-weight:700;
font-size:64px;
line-height:120%;
display:flex;
align-items:center;
letter-spacing:-0.02em;
color:#FAFEF4;}
button{justify-content:center;
align-items:center;
padding:12px 24px;
width:423px;
height:48px;
background-color:#6E83EC;
border-radius:8px;
border:none;
color:white;
font-family:'Fira Sans';
font-weight:600;
font-size:16px;
line-height:150%;
margin-bottom:25px;}

#first-p{
 width:388px;
 height:37px;
 left:871px;
 top:475px;
 font-family:'Fira Sans';
 font-weight:400;
 font-style:normal;
 font-size:24px;
 line-height:150%;
 display:flex;
 align-items:center;
 text-align:center;
 letter-spacing:-0.02em;
 color:#F7F7F7;
 margin-left:70px;}
 #second-p{
 width:388px;
 height:37px;
 left:871px;
 top:475px;
 font-family:'Fira Sans';
 font-weight:400;
 font-style:normal;
 font-size:24px;
 line-height:150%;
 display:flex;
 align-items:center;
 text-align:center;
 letter-spacing:-0.02em;
 color:#F7F7F7;
 margin-left:150px;}
 
 input{width:415px;
 height:48px;
 margin-bottom:25px;
 border-color:#6E83EC;
 border-radius:4px;}
 #signup{text-align:center;}
 
 a{color:#5869BD;}
 