@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/romana-bt');
@import url(//db.onlinewebfonts.com/c/a928f24b58b82e8ea551d1d7599d2324?family=Romana+BT);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@font-face {font-family: Romana BT;
src:url(ROMANAB.TTF)}

*{margin:0;
padding:0;}
body{width:100%;
overflow-x:hidden;}
#main-container{position:relative;
width:1440px;
height:1024px;
background-color:#F1F3FD;
border-radius:8px;}
#first-container{position:absolute;
width:510px;
height:1024px;
left:118px;
top:0px;
background-color:#5362B1;
border-radius:4px;}
#stack{position:absolute;
width:195px;
height:39px;
left:15px;
top:40px;

font-family: Romana BT ;
font-style:normal;
font-weight:400;
font-size:32px;
line-height:39px;
letter-spacing:-0.02em;}

#seamless{position:absolute;
width:353px;
height:135px;
left:100px;
top:363px;
font-family:'Fira Sans';
font-style:normal;
font-weight:700;
font-size:64px;
line-height:120%;
display:flex;
align-items:center;
letter-spacing:-0.02em;
color:#F7F7F7;}

h1{position:absolute;
width:210px;
height:77px;
left:850px;
top:247px;
font-family:'Fira Sans';
font-style:normal;
font-weight:700;
font-size:64px;
line-height:120%;
display:flex;
align-items:center;
text-align:center;
letter-spacing:-0.02em;
color:#676767;}

form{display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding: 8px 16px;
gap:11px;
position:absolute;
width:471px;
height:536px;
left:824px;
top:356px;
background-color:#FFFFFF;}

#checkbox-label{width:379px;
height:21px;
font-family:'Fira Sans';
font-style:normal;
font-weight:400;
font-size:14px;
line-height:150%;
color:#505050;
flex:none;
order:1;
flex-grow:0;}
button{justify-content:center;
align-items:center;
padding:12px 24px;
width:423px;
height:48px;
background-color:#6E83EC;
border-radius:8px;
color:#FCFCFC;
font-family:'Fira Sans';
font-style:normal;
font-weight:600;
line-height:150%;
border:none;
margin:8px;}

#sign-in{width:188px;
height:21px;
font-family:'Fira Sans';
font-style:normal;
font-weight:400;
font-size:14px;
line-height:150%;
color:#505050;
text-align:center;}

.text{width:410px;
height:40px;
margin-bottom:8px;
border-color:#6E83EC;
border-radius:4px;
}

.form-labels{font-family:'Open Sans';
font-style:normal;}
a{color:#6E83EC;}

button:hover{background-color:#6376D4;
