@font-face {
    font-family: FiraSans Regular;
    src: url(../../public/fonts/FiraSans-Regular.ttf);
}
@font-face {
    font-family: FiraSans SemiBold;
    src: url(../../public/fonts/FiraSans-SemiBold.ttf);
}
@font-face {
    font-family: Romana;
    src: url(../../public/fonts/ROMANAB.TTF);
}

@font-face {
    font-family: FiraSansBold;
    src: url(../../public/fonts/FiraSans-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#Aboutbody{
    width:99.5vw;
    overflow-x:hidden;
    background-color: #E5E5E5;
    display:flex; flex-direction: column;
    align-items: center; justify-content:space-around;
}
.aboutsect1{
    background-color: #5869BD;
    padding-bottom: 87.5px;
    padding-top: 30px;
}
.abouttable1{
    width: 90%;
    margin: auto;
}
#abouttd{
    font-weight: 400;
    font-family: FiraSans Regular;
    color: white;
}

#abouth1{
    color: white;
    text-align: center;
    margin-top: 91px;
    margin-bottom: 30px;
    font-weight: 700;
    font-family: FiraSansBold;
    font-size: 64px;
}
#aboutp1{
    color: white;
    width: 80%;
    margin: auto;
    font-weight: 600;
    font-family: firaSans SemiBold;
    font-size: 32px;
    text-align: left;
}
.aboutsect2{
    background-color: #FF7F81;
    width: 80%;
    margin: auto;
    
}
#abouth2{
    color: #6376D4;
    margin-top: 120px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-weight: 700;
    font-family: FiraSansBold;
    font-size: 64px;
    margin-bottom: 56px;
}
.aboutteam{
    width: 22%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#aboutmiss{
    color: white;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 30px;
    padding-top: 1px;
    font-weight: 700;
    font-family: FiraSansBold;
    font-size: 64px;
}
#aboutp2{
    color: white;
    width: 100%;
    padding-bottom: 82px;
    text-align: center;
    font-family: firaSans SemiBold;
    font-weight: 600;
    font-size: 32px;
}

.aboutfooter{
    width:100%;
    background-color: #313B6A;
    height: 430px;
}
#abouth4{
    margin-left: 5%;
    padding-top: 128px;
}
.aboutul{
    margin-left: 5%;
    list-style: none;
    font-family: FiraSans Regular;
    font-size: 16px;
    font-weight: 400;
}
.aboutrow{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}
.aboutcolumn{
    border-bottom: 62px solid  #E5E5E5;
    width: 411px; 
    height: 400px;
}
#aboutimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#aboutp{
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: 600;
    font-family: FiraSans SemiBold;
    color:  #525974;
}
.aboutlast{
    background-color: #E9ECFC;
    width: 90%;
    margin: auto;
    margin-top: 120px;
    
}
#abouth3{
    margin-top: 60px;
    padding-top: 8px;
    padding: 5px 0px 50px 0px;
    font-weight: 600;
    font-family: FiraSans SemiBold;
    font-size: 32px;
    color: #5869BD;
    text-align: center;
}
.aboutlast button{
    border-radius: 8px;
    padding: 12px 24px;
    background-color: #6E83EC;
    color: white;
    border-style: none;
    display: flex;
    margin: auto;
    justify-content: center; 
    font-family: FiraSans SemiBold;
    font-weight: 600;
    font-size: 16px;
}
.aboutlast button:hover{
    background-color: #6376D4;
}

.aboutlogo, #abouth4{
    font-family: Romana;
    font-size: 32px;
    font-weight: 400;
    color: white;
}
.aboutimg img{
    width: 100px;
    height: 100px;
}
.aboutimg{
    width: 100px;
    height: 100px;
    padding-top: 128px;
}
.aboutimg:hover{
    cursor: pointer;
}
.aboutrow2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
.aboutcolumn2{
    padding-left: 60px;
    color: white;
}
