/*@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/romana-bt');
@import url(//db.onlinewebfonts.com/c/a928f24b58b82e8ea551d1d7599d2324?family=Romana+BT);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');*/
@font-face {
    font-family: Romana BT;
    src:url(../../public/fonts/ROMANAB.TTF)
}

@font-face {
    font-family: FiraSansRegular;
    src: url(../../public/fonts/FiraSans-Regular.ttf);
}

#login-container{
    position:relative;
    min-width: 99vw;
    min-height:100vh;
    max-width: 99vw;
    max-height:100vh;
    background-color:#F1F3FD;
    border-radius:8px;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

#login-comparediff{
    position:absolute;
    min-width:195px;
    min-height:39px;
    max-width:195px;
    max-height:39px;
    left:120px;
    top:40px;
    font-family:Romana BT ;
    font-style:normal;
    font-weight:400;
    font-size:32px;
    line-height:39px;
    letter-spacing:-0.02em;
    color:#222020
}

#loginh2{
    position:absolute;
    min-width:119px;
    min-height:58px;
    max-width:119px;
    max-height:58px;
    left:240px;
    top:256px;
    font-family:'Fira Sans';
    font-style:normal;
    font-weight:600;
    font-size:48px;
    line-height:120%;
    display:flex;
    align-items:center;
    text-align:center;
    letter-spacing:-0.05em;
    color:#676767;
    font-family:FiraSansRegular;
}

#loginform {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:8px 16px;
    gap:11px;
    position:absolute;
    min-width:471px;
    min-height:450px;
    max-width:471px;
    max-height:450px;
    left:232px;
    top:356px;
    background-color:#FAFEF4;
    font-family:FiraSansRegular;
}

#second-container{
    position:absolute;
    width:510px;
    height:1024px;
    left:810px;
    top:0px;
    background-color:#6E83EC;
    border-radius:4px;
    font-family:FiraSansRegular;
}

#loginh1{
    margin-top:400px;
    margin-left:40px;
    min-width:420px;
    min-height:77px;
    max-width:420px;
    max-height:77px;
    left:854px;
    top:374px;
    font-family:'Fira Sans';
    font-style:normal;
    font-weight:700;
    font-size:64px;
    line-height:120%;
    display:flex;
    align-items:center;
    letter-spacing:-0.02em;
    color:#FAFEF4;
    font-family:FiraSansRegular;
}

#loginbutton{
    display:flex; flex-direction:row;
    justify-content:center;
    align-items:center;
    padding:12px 24px;
    width:423px;
    height:48px;
    background-color:#6E83EC;
    border-radius:8px;
    border:none;
    color:white;
    font-family:'Fira Sans';
    font-weight:600;
    font-size:16px;
    line-height:150%;
    margin-bottom:25px;
    font-family:FiraSansRegular;
}

#first-p{
    min-width:388px;
    min-height:37px;
    max-width:388px;
    max-height:37px;
    left:871px;
    top:475px;
    font-family:'Fira Sans';
    font-weight:400;
    font-style:normal;
    font-size:24px;
    line-height:150%;
    display:flex;
    align-items:center;
    text-align:center;
    letter-spacing:-0.02em;
    color:#F7F7F7;
    margin-left:70px;
    font-family:FiraSansRegular;
}

#second-p{
    min-width:388px;
    min-height:37px;
    max-width:388px;
    max-height:37px;
    left:871px;
    top:475px;
    font-family:'Fira Sans';
    font-weight:400;
    font-style:normal;
    font-size:24px;
    line-height:150%;
    display:flex;
    align-items:center;
    text-align:center;
    letter-spacing:-0.02em;
    color:#F7F7F7;
    margin-left:150px;
    font-family:FiraSansRegular;
}
 
.logininput{
    width:415px;
    height:48px;
    margin-bottom:25px;
    border: 2px grey solid;
    border-radius:4px;
    font-family:FiraSansRegular;
}

.logininput:active, .logininput:focus{
    border: 2px #6E83EC solid;
}

 #signup{
    text-align:center;
    font-family:FiraSansRegular;
}
 
#logina{
    color:#5869BD;
    font-family:FiraSansRegular;
}
 