/*@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/romana-bt');
@import url(//db.onlinewebfonts.com/c/a928f24b58b82e8ea551d1d7599d2324?family=Romana+BT);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');*/

@font-face {
    font-family: 'Romana BT';
    src: url(../../public/fonts/ROMANAB.TTF);
}

@font-face {
    font-family: 'FiraSans Regular';
    src: url(../../public/fonts/FiraSans-Regular.ttf);
}

#onboarding{
    width:99.9vw; height:99vh;
    display:flex; flex-direction:row;
    justify-content:space-around; align-items:center;
}

.onboardingcontent{
    min-width:99%; min-height:99%;
    max-width:99%; max-height:99%;
    display:flex; flex-direction:row;
    justify-content:space-around; align-items:center;
}

.onboardingheader{
    min-width:99%; min-height:30px;
    max-width:99%; max-height:30px; text-align:center;
    display:flex; flex-direction:row;
    justify-content:space-around; align-items:center;
    font-weight:bold; font-size:18px;
}

#leftonboarding, #rightonboarding{
    min-width:45%; min-height:90%;
    max-width:45%; max-height:90%;
    display:flex; flex-direction:column;
    align-items:center; justify-content:flex-start;
}


.bottom-div {
    border-radius:20px;
    margin:10px 0px 20px 0px;
    min-width:300px; min-height:300px;
    max-width:300px; max-height:300px;
    text-align: center;
    display:flex; flex-direction:column;
    justify-content:center; align-items:center;
    padding: 57px 65px;
    background: #E9ECFC;
    transition-duration:0.25s;
}

.bottom-div:hover{
    background-color:#5869BD;
    color:white;
}

#OBRBtn{
    position:absolute;
    top:50%; left:1200px;
    min-width:50px; min-height:50px;
    max-width:50px; max-height:50px;
    border-radius:50%;
}