/*@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/romana-bt');
@import url(//db.onlinewebfonts.com/c/a928f24b58b82e8ea551d1d7599d2324?family=Romana+BT);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');*/

@font-face {
    font-family: Romana BT;
    src:url(../../public/fonts/ROMANAB.TTF)
}

@font-face {
    font-family: FiraSansRegular;
    src: url(../../public/fonts/FiraSans-Regular.ttf);
}

#signup-container{
    position:relative;
    min-width:1440px;
    min-height:1024px;
    max-width:1440px;
    max-height:1024px;
    background-color:#F1F3FD;
    border-radius:8px;
    margin:0;
    padding:0;
    width:100%;
    overflow-x:hidden;
    width:100vw; height:100vh;
    font-family: FiraSansRegular;
}

#firstsignup-container{
    position:absolute;
    min-width:510px;
    min-height:1024px;
    max-width:510px;
    max-height:1024px;
    left:118px;
    top:0px;
    background-color:#5362B1;
    border-radius:4px;
    font-family: FiraSansRegular;
}

#signupstack{
    position:absolute;
    min-width:195px;
    min-height:39px;
    max-width:195px;
    max-height:39px;
    left:15px;
    top:40px;
    font-family: Romana BT ;
    font-style:normal;
    font-weight:400;
    font-size:32px;
    line-height:39px;
    letter-spacing:-0.02em;
}

#signupseamless{
    position:absolute;
    min-width:353px;
    min-height:135px;
    max-width:353px;
    max-height:135px;
    left:100px;
    top:363px;
    font-family:'Fira Sans';
    font-style:normal;
    font-weight:700;
    font-size:64px;
    line-height:120%;
    display:flex;
    align-items:center;
    letter-spacing:-0.02em;
    color:#F7F7F7;
    font-family: FiraSansRegular;
}

#signuph1{
    position:absolute;
    min-width:210px;
    min-height:77px;
    max-width:210px;
    max-height:77px;
    left:850px;
    top:240px;
    font-family:'Fira Sans';
    font-style:normal;
    font-weight:700;
    font-size:64px;
    line-height:120%;
    display:flex;
    align-items:center;
    text-align:center;
    letter-spacing:-0.02em;
    color:#676767;
    font-family: FiraSansRegular;
}

#signupform{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 8px 16px;
    gap:11px;
    position:absolute;
    min-width:471px;
    min-height:536px;
    max-width:471px;
    max-height:536px;
    left:824px;
    top:356px;
    background-color:#FFFFFF;
    font-family: FiraSansRegular;
}

#signupcheckbox-label{
    min-width:379px;
    min-height:21px;
    max-width:379px;
    max-height:21px;
    font-family:'Fira Sans';
    font-style:normal;
    font-weight:400;
    font-size:14px;
    line-height:150%;
    color:#505050;
    flex:none;
    order:1;
    flex-grow:0;
    font-family: FiraSansRegular;
}  

#signupbutton{
    display:flex; flex-direction:row;
    justify-content:center;
    align-items:center;
    padding:12px 24px;
    min-width:423px;
    min-height:48px;
    min-width:423px;
    min-height:48px;
    background-color:#6E83EC;
    border-radius:8px;
    color:#FCFCFC;
    font-family:'Fira Sans';
    font-style:normal;
    font-weight:600;
    line-height:150%;
    border:none;
    margin:8px;
    font-family: FiraSansRegular;
}

#sign-in{
    min-width:188px;
    min-height:21px;
    max-width:188px;
    max-height:21px;
    font-family:'Fira Sans';
    font-style:normal;
    font-weight:400;
    font-size:14px;
    line-height:150%;
    color:#505050;
    text-align:center;
    font-family: FiraSansRegular;
}

.signuptext{
    min-width:410px;
    min-height:40px;
    max-width:410px;
    max-height:40px;
    margin-bottom:8px;
    border:2px grey solid;
    border-radius:4px;
    font-family: FiraSansRegular;
}

.signuptext:active{
    border: 2px #6E83EC solid;
}

.signupform-labels{
    font-family:'Open Sans';
    font-style:normal;
    font-family: FiraSansRegular;
}

#signupa{
    color:#6E83EC;
    font-family: FiraSansRegular;
}